<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Filebeam</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>CFBundleExecutable</key>
    <string>filebeam</string>
    <key>CFBundleIconFile</key>
    <string>Filebeam.icns</string>
    <key>CFBundleIdentifier</key>
    <string>io.filebeam.desktop</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>filebeam</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
